# JDK 11
build --java_language_version=11

# Enable JDT toolchain
build --extra_toolchains=@bazel_jdt_java_toolchain//jdt:all

# Short lived workers
build --strategy=Javac=worker --worker_quit_after_build 

# allow developers to tune the build with local overrides
try-import %workspace%/.bazelrc-local
