# Easy switching back to Vanilla for comparison
#build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
#build --java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla

# enable JDT compiler
build --java_toolchain=@bazel_jdt_java_toolchain//jdt:jdt_java_toolchain

# Currently does not work with persistent workers
build --strategy=Javac=local

# allow developers to tune the build with local overrides
try-import %workspace%/.bazelrc-local
